table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #FFF
}

tr:nth-child(odd) {
    background: #CCC
}

thead {
    tr {
        th {
            background: #FFF
        }
    }
}

td {
    padding-left: 5px;
}