@import 'normalize', 'typescale', 'fonts', 'menu', 'tables';

/*css taken from http://jgthms.com/web-design-in-4-minutes/*/

* {
    box-sizing: border-box;
}

body {
    font-family: serif;
}


#main {
    /* top | right | bottom | left */
    padding: 0em 0em 4em 0em;
    // padding: 4em 1em;
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

body {
    color: #555;
}

h1,
h2,
strong {
    color: #333;
}

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

a {
    color: #e81c4f;
}

body {
    color: #566b78;
}

code,
pre {
    background: #f5f7f9;
    /*border-bottom: 1px solid #d8dee9;*/
    color: #a7adba;
}

pre {
    border-left: 2px solid #69c;
}

img {
    max-width: 100%;
}

ul {
    // margin: 0;
    padding: 0;

}

#logo{
    text-align: center;
    font-size: 5em;
    color: #e81c4f;
    text-transform: uppercase;
}

footer{
    display: flex; /* or inline-flex */
    justify-content:  center;
    height: 5em;
}