/* Coolors Exported Palette - coolors.co/5603ad-8367c7-b3e9c7-c2f8cb-f0fff1 */

/* HSL */
$color1: hsla(269%, 97%, 35%, 1);
$color2: hsla(258%, 46%, 59%, 1);
$color3: hsla(142%, 55%, 81%, 1);
$color4: hsla(130%, 79%, 87%, 1);
$color5: hsla(124%, 100%, 97%, 1);

/* RGB */
$color1: rgba(86, 3, 173, 1);
$color2: rgba(131, 103, 199, 1);
$color3: rgba(179, 233, 199, 1);
$color4: rgba(194, 248, 203, 1);
$color5: rgba(240, 255, 241, 1);